.wrapperPhone{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    height: 500px;
    width: 500px;
}
.wrapperPhone img{
    object-fit: contain;
    height: 400px;
    width: 300px;
    margin: 25px 0 25px 0;
}
.wrapper{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.container_color{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 170px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 50px;
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.infoPhone{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoPhone p {
    margin: 0;
}
