.container {
    max-width: 1100px;
    min-width: 1100px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: black;
}
.header a {
    color: #ffffff;
    text-decoration: none;
}

.headerContainer {
    position: relative;
    height: 100%;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.itemLink{
    display: flex;
}

.itemBasket{
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemLink a {
    margin-right: 30px;
}
.footerContainer {
    max-width: 1000px;
    margin: 0 auto;
}
.basket{
    right: 20px;
    position: absolute;
}
.button{
    cursor: pointer;
    position: absolute;
    border: none;
    background-color: #FCF8F2;
    color: #000000;
    font-size: 30px;
    margin: 15px 0 0 90px;
}
.button:hover{
    transform: scale(1.2,1.2);
}
.basketButton{
position: absolute;
}


.wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    margin-top: auto;
    background-color: black;
    color: #ffffff;
}
