.radius{
    padding: 40px;
    width: 200px;
    display: flex;
    justify-content: space-around;
}

.circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid grey;
}
.circle:hover{
    transform:scale(1.5, 1.5);
    transition-duration: 0.4s;
}
.active{
    transform:scale(1.5, 1.5);
}