.container {
    max-width: 1100px;
    min-width: 1100px;
    margin: 0 auto;
}

.headerContainer {
    max-width: 1000px;
    margin: 0 auto;
}

.footerContainer {
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: black;
}

.header a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 50px;
}

.wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    margin-top: auto;
    background-color: black;
    color: #ffffff;
}
