.empty{
    margin-top: 100px
}
.header{
    margin: 50px 0 40px 0;
    color: #001a34;
    font-size: 30px;
    font-weight: 700;
}

.mainWrapper{
    display: flex;
    justify-content: space-between;
}
.wrapperProduct{
    width: 842px;
    background-color: #ffffff;
}
.wrapperBay{
    height: 340px;
    width: 435px;
    background-color: #ffffff;
}
.checkout{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.checkout p {
    font-size: 14px;
    color: #808d9a;
    line-height: 18px;
}
.checkout button {
    background-color: #10c44c;
    cursor: pointer;
    color: #ffffff;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    border-radius: 8px;
}
.checkout button:hover{
    transition: 0.3s;
    background-color: #0DAD43;
}
.checkout span {
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 56px;
}
.line{
    background-color: #E0E6EF;
    width: 100%;
    height: 1px;
}
.lineProduct{
    background-color: #D9DDE0;
    width: 100%;
    height: 1px;
}
.infoBayProduct{
    padding: 20px;
}
.infoItemBayProduct{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;

}
.titleBayProduct{
    color: #001a34;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4em;
}
.subtitle{
    font-size: 14px;
    line-height: 1.29em;
    color: #707f8d;
}
.checkBox{
    display: flex;
    align-items: center;
    padding: 0 16px 0 16px;
}
.checkBox span{
    margin-right: 24px;
    display: flex;
    align-items: center;
    height: 47px;
    font-size: 14px;
    line-height: 20px;
}
.deleteText{
    color: #f91155;
    margin-right: 0;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}
.courier{
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F2F5F9;
}
.courierWay{
    display: flex;
}
.courierWay span{
    padding: 0 8px 0 8px;
}.courierWay img{
     margin-right: 8px;
}
.containerProduct{
    padding: 16px;
}
.titleCourier{
    color: #001a34;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 18px;
    font-weight: 700;
}
.subtitleCourier{
    color: #001a34;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}
.itemProductContainer{
    padding: 16px 0 16px 0;
    display: flex;
    align-items: center;
    min-height: 110px;
}
.itemProductContainer input{
    cursor: pointer;
}
.itemProductImg{
    padding: 0 10px 0 12px;
}
.itemProductImg img {
        object-fit: contain;
        width: 100px;
        height: 100px;
}
.itemProductInfo{
    width: 410px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 25px;
}
.itemProduct{
    height: 50px;
    display: flex;
    flex-direction: column;
}
.itemProductDelete{
    display: flex;
    justify-content: flex-end;
    padding: 0 0 5px 0;
}
.itemProductDelete button{
    color: #005bff;
    cursor: pointer;
    border: none;
    background-color: #ffffff;
    width: 50px;
}
.itemProductTitle{
    color: #001a34;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 18px;
}
.itemProductSubtitle{
    color: #8C8F9A;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 18px;
}
.itemProductPrice{
    width: 170px;
    min-height: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.itemProductInput{
    width: 44px;
    height: 100px;
}
.itemProductInput input{
    padding: 5px 10px 5px 10px;
    width: 24px;
    height: 15px;
    border: 2px solid #B3BCC5;
    border-radius: 6px;
}
.button{
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: #F7F8FA;
}