.items img {
    width: 250px;
    height: 250px;
    object-fit: contain;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
.items img:hover {
    transform: scale(1.05, 1.05);
}
.items p {
    margin: 0;
    padding: 10px;
}
/*блок увиличивался*/
.items {
    display: flex;
    position: relative;
    width: 350px;
    height: 440px;
    flex-direction: column;
    align-items: center;
    margin: 0 0 40px 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.items a {
    text-decoration: none;
    color: #4E4E4E;
}
.items:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 0 6px 11px 3px rgba(34, 60, 80, 0.2);
}

.price{
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    border-radius: 0 0 10px 10px;
    position: absolute;
    width: 370px;
    height: 60px;
    background-color: #EDE8E4;
}

.priceItem{
    text-transform: uppercase ;
    font-weight:bold;
    color: #2A2A2A;
}
.name{
    margin-bottom: 10px;
}
.button{
    width: 78px;
    height: 42px;
    padding: 0 10px 0 10px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 8px;
    border: 2px solid #D9D9D9;
}
.button:hover {
    background-color: #FC8507;
    border: 2px solid #fc8507;
    color: #ffffff;
    transition-duration: 0.4s;
}